.Text1{
    text-align: center;
}
.img1{
    height: 170px;
}
.cor1{
    height: 400px;
}
.col1{
    height: 250px;
}
.col2{
    height: 250px;
    margin-left: 20px;
}
.col3{
    height: 250px;
    margin-top: 20px;
}
.col4{
    height: 250px;
    margin-left: 20px;
}