.Text1{
    text-align: center;
}
.img1{
    height: 170px;
}
.cor1{
    height: 500px;
}
.col1{
    height: 250px;
}
.col2{
    height: 250px;
    margin-left: 20px;
}
.col3{
    height: 250px;
    margin-top: 20px;
}
.col4{
    height: 250px;
    margin-left: 20px;
}
.col5{
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
}
.course1{
    margin-left: 40px;
    height: 380px;
}
.course2{
    margin-left: 40px;
    margin-top: 20px;
}
.course3{
    margin-left: 366px;
}
